<div class="jumbotron">
  <h1 class="title">快招</h1>
  <p class="slogan"> Get Hired. Love Your Job.
  <br>
  Get hired now is your free inside look at jobs and companies.
  <br>
  Salary details, company reviews, and interview questions — all posted anonymously by employees and job seekers.
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Apply Now</a></p>

</div>

<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/01/17/587dccc131273.png" alt="message" class="img-thhumbnail">
          <div class="caption">
            <h3>留言给我们</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/01/17/587dccc142f5a.png" alt="call" class="img-thhumbnail">
          <div class="caption">
            <h3> 021-50607080</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/01/17/587dccc143d22.png" alt="star" class="img-thhumbnail">
          <div class="caption">
            <h3>收藏我们</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
