<!-- jp header -->
<header class="l-header">
        <div class="l-contents">
          <h1 class="l-header_logo"><a href="/"><img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fc2pmt11ivj301s01s0rw.jpg" alt="Kuaizhao" width="37" height="27"></a></h1>
          <nav class="l-header_gnav">
            <ul>
              <!-- <li class="is-active"><a href="#">职位<span>Jobs</span></a></li> -->
              <li><a href="#">职位<span>Jobs</span></a></li>
              <li><a href="#">公司<span>Companies</span></a></li>
              <li><a href="#">薪资<span>Salaries</span></a></li>
              <li><a href="#">面试<span>Interviews</span></a></li>
              <li><a href="#">问答<span>Reviews</span></a></li>
            </ul>
            <!-- <p><a href="#" target="_blank" class="m-btn m-btn-entry">ENTRY</a></p> -->
            <p class="lead"><a class="m-btn m-btn-entry" href="/jobs">马上申请</a></p>
          </nav>
        </div>
        <div class="l-header_toggle js-action-headertoggle"><i></i></div>
      </header>

<!-- jp banner -->
<section class="p-top_main">
          <div class="l-contents">
            <!-- <h2><img src="" alt="用快招，获得出彩职业！" width="360" height="110"></h2> -->
            <h1>快速招聘 快速求职
              <br>要出彩就用快招!</h1>
          </div>
          <ul class="p-top_main_bg">
            <li class="p-top_main_bg_list p-top_main_bg_list-1 m-fude m-fude-top m-fude-yellow"><i><i></i><i></i><i></i></i></li>
            <!-- <li class="p-top_main_bg_list p-top_main_bg_list-5 m-fude m-fude-top m-fude-lime"><i><i></i><i></i><i></i></i></li> -->
            <li class="p-top_main_bg_list p-top_main_bg_list-3 m-fude m-fude-top m-fude-orange js-status-visible js-status-visible-fude"><i><i></i><i></i><i></i></i></li>
            <!-- <li class="p-top_main_bg_list p-top_main_bg_list-6 m-fude m-fude-top m-fude-aqua"><i><i></i><i></i><i></i></i></li> -->

            <!-- <li class="p-top_main_bg_list p-top_main_bg_list-4 m-fude m-fude-top m-fude-red"><i><i></i><i></i><i></i></i></li> -->



            <li class="p-top_main_bg_list p-top_main_bg_list-2 m-fude m-fude-top m-fude-aqua"><i><i></i><i></i><i></i></i></li>
          </ul>
        </section>

<!-- banner text -->

<!-- <div class="jumbotron"> -->
  <!-- <h1 class="title">快招</h1> -->
  <!-- <p class="slogan"> Get Hired. Love Your Job. -->
  <!-- <br> -->
  <!-- Get hired now is your free inside look at jobs and companies. -->
  <!-- <br> -->
  <!-- Salary details, company reviews, and interview questions — all posted anonymously by employees and job seekers. -->
  <!-- </p> -->
  <!-- <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Apply Now</a></p> -->

<!-- </div> -->

<!--2nd part  trouble point  -->
<hr>
<div class="home-recommended-point__trouble">
				<ul class="home-recommended-point__trouble__group">

					<li class="home-recommended-point__trouble__cell home-recommended-point__trouble__cell_n1">
						<div class="home-recommended-point__trouble__cell__inner">
							<div class="home-recommended-point__trouble__cell__main">
								<div class="home-recommended-point__trouble__picture">
									<img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fc2yq7ahpaj3050050mx5.jpg" alt="个人职业定位是否准确"><br>
								</div>
								<p class="home-recommended-point__trouble__text">求职者:不知道市场行情<br>和个人职业定位是否准确？</p>
							</div>
						</div>
					</li>
					<li class="home-recommended-point__trouble__cell home-recommended-point__trouble__cell_n2">
						<div class="home-recommended-point__trouble__cell__inner">
							<div class="home-recommended-point__trouble__cell__main">
								<div class="home-recommended-point__trouble__picture">
									<img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fc2yq7c6s1j30500500sr.jpg" alt="不确定自己现在的薪资是否合理？"><br>
								</div>
								<p class="home-recommended-point__trouble__text">不确定自己现在的<br>薪资是否合理？</p>
							</div>
						</div>
					</li>
					<li class="home-recommended-point__trouble__cell home-recommended-point__trouble__cell_n3">
						<div class="home-recommended-point__trouble__cell__inner">
							<div class="home-recommended-point__trouble__cell__main">
								<div class="home-recommended-point__trouble__picture">
									<img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fc2yq6xxjwj3050050gln.jpg" alt="赶紧完成招人指标"><br>
								</div>
								<p class="home-recommended-point__trouble__text">部门老大又催我月底<br>赶紧完成招人指标？</p>
							</div>
						</div>
					</li>
				</ul>
        <hr>
        <div class="vision">
          <h1>你的职场问题，快招来解决！</h1>
          <h3>快招平台为用户提供经严格筛选后的雇主基本信息、招聘职位、<br> 雇主评价、薪酬资讯、面试经验等一站式职场信息。</h3>
          <p><br> 我们坚信，成功的人生离不开高效的事业；高效的事业离不开高效的选择；高效的选择来自全面、真实、新鲜的资讯。
  <br>快招倡导员工和雇主之间“参与”、“分享”、“尊重”。<br>在一个数亿人上班，数百万企业运营的国度： “人人为我，我为人人”的“参与”是唯一途径。<br> “有话就说，实话实说”的“分享”最值得崇尚。
 <br>我们相信，有了大家的参与，必定会有更多公司重视员工感受，必定会有更多公司优化员工关系，必定会有更多公司提升招聘效率。
  <br><h4>每一天，我们都在为此努力。</h4></p>
        </div>

<hr>


<!-- 别人怎么说 -->

<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/01/17/587dccc131273.png" alt="message" class="img-thhumbnail">
          <div class="caption">
            <h3>留言给我们</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/01/17/587dccc142f5a.png" alt="call" class="img-thhumbnail">
          <div class="caption">
            <h3> 021-50607080</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/01/17/587dccc143d22.png" alt="star" class="img-thhumbnail">
          <div class="caption">
            <h3>收藏我们</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
