<footer class="container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:25px;">
            <p>Copyright ©2017 Rails101
                <br>
                <span>Web Design By: <a href="http://shaoxueqian.logdown.com/" target="_blank"> Shao Xueqian <i class="fa fa-pencil-square" aria-hidden="true"></i> </a></p></span>
        </div>
</footer>
